.action-link {
    padding: 0;
    display: inline-block;
}

td {
    max-width: 200px;
}

.text-center {
    text-align: center;
}
table {
    font-size: 14px;
}
.tab-header {
    position: -webkit-sticky;
}
#stickynav {
    background: white;
}

#search {
    max-width: 500px;
}

.hide {
    display: none;
}
.hidetr > tr {
    display: none;
}
.showtr {
    display: table-row !important;
}